.overall{
	padding-left: 30px;
	border-color: #444444;
	border-style: solid;
	border-radius: 20px;
	font-family: showcard gothic;
	font-size: 20px;
	background-color: #222222;
}

.buybtn{
	text-align: right;
	font-size: 20px;
	font-family: rockwell;
	margin: 20px,20px,20px,20px;
	padding-right: 30px;
	padding-bottom: 4px;
}

a{
	text-decoration: none;
}
.button{
    display: inline-flex;
    font-family: monospace;
     background-color: #68b12f;
    background: -webkit-gradient(linear, left top, left bottom, from(#68b12f), to(#50911e));
    background: -webkit-linear-gradient(top, #b1562f, #91341e);
    background: -moz-linear-gradient(top, #b1562f, #91341e);
    background: -ms-linear-gradient(top, #b1562f, #91341e);
    background: -o-linear-gradient(top, #b1562f, #91341e);
    background: linear-gradient(top, #b1562f, #91341e);
    border: 1px solid #915000;
    border-bottom: 1px solid #91552b;
    padding-top: 40px;
    padding-right: 40px;
    border-radius: 10px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    box-shadow: inset 0 1px 0 0 #9f5574;
    -webkit-box-shadow: 0 1px 0 0 #9f5574 inset ;
    -moz-box-shadow: 0 1px 0 0 #9f5574 inset;
    -ms-box-shadow: 0 1px 0 0 #9f5574 inset;
    -o-box-shadow: 0 1px 0 0 #9f5574 inset;
    color: white;
    font-size: 20px;
    padding: 6px 20px;
    text-align: left;
    text-shadow: 0 -1px 0 #396715;
}
.button:hover{
    cursor:pointer;
    opacity: 0.85;
}
a{
    display: block;
}
a:link{
    text-decoration: none;
}